/*--------head------------*/
.head {
  padding: 20px 0;
  color: #fff;
}
header,
.head {
  z-index: 2;
  position: relative;
  left: 0;
  right: 0;
  color: black;
}

.logo h1 {
  font-size: 35px;
  font-weight: 900;
}
.head .icon {
  margin-left: 10pxk;
}
/*--------head------------*/
/*--------header------------*/
header {
  margin: 0 30px;
  border: 1px solid #00000062;
  background-color: #ffffffad;
  border-radius: 6px;
}
header .nav {
  display: flex !important;
}
header li {
  margin-right: 40px;
}
header ul {
  margin: 0 auto;
  padding: 30px 20px;
}
header ul li a {
  color: rgba(0, 0, 0, 0.624);
  font-weight: 800;
  transition: 0.5s;
  font-size: 18px;
}
header ul li a:hover {
  color: #1eb2a6;
}
.start {
  background-color: #1eb2a6;
  padding: 30px 70px;
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}
.toggle {
  display: none;
}
/*--------header------------*/
@media screen and (max-width: 1068px) {
  .start {
    clip-path: none;
  }
  header {
    margin: 0;
    background-color: #1eb2a6;
    position: relative;
  }
  header ul.flexSB {
    display: none;
  }
  .main_header_container ul li a:hover {
    color: black;
  }
  .main_header_container ul li a {
    color: rgb(255, 255, 255);
  }
  header ul li {
    margin-bottom: 10px;
    color: white !important;
  }

  header ul li:hover {
    color: white !important;
  }
  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
    background-color: #21302f63;
  }
  .mobile_nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #1eb2a6;
  }

  .toggle_men {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .toggle_men span {
    width: 30px;
    height: 6px;
    background-color: white;
  }
  .toggle {
  }
  
}


